{% extends 'blog/base.html' %}
{% block content %}
    <h1>My Blog</h1>
    {% if posts %}
        {% for post in posts %}
            <p><a href="{% url 'post_detail' slug=post.slug %}">{{ post.title }}</a></p>
        {% endfor %}
        <p><a href="{% url 'post_create' %}">Create Post</a></p> 
    {% else%}
        <p>No posts yet.</p>
        <p><a href="{% url 'post_create' %}">Create Post</a></p>  
    {% endif %}
    {% if posts.has_previous %}
        <a href="?page={{ post.previous_page_number }}">Previous</a>
    {% endif %}
    <span>Page {{ posts.number }} of {{ posts.paginator.num_pages }}</span>
    {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}">Next</a>
    {% endif %}
{% endblock %}